main {
  background-color: var(--background-color);
  min-height: 80vh;
}

.link-jogos {
  padding: 32px;
}

.link-jogos ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 32px;

  width: 100%;

  list-style: none;
}

.link-jogos li {
  width: 232px;

  padding: 16px;

  border-radius: 8px;

  transition: transform 0.2s;
}

.link-jogos li a {
  font-size: 1.2rem;
  color: var(--text-color);
  text-align: center;
  text-decoration: none;
}

.link-jogos li p {
  margin-top: 16px;
}

.link-jogos li img {
  width: 200px;

  border-radius: 8px;
}

.link-jogos li.game-in-podio {
  background-color: rgb(255, 255, 255);
}
